{% extends 'template.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for document in documents %}
        <div class="col-md-9">
            <a href="/doc/{{ document.key.id() }}">
                {% if document.title %}
                <b>{{ document.title }}</b>
                {% else %}
                NO TITLE
                {% endif %}
            </a>
            <blockquote>{{ document.content|truncate(40) }}</blockquote>
        </div>
        {% endfor %}
        <div class="sidebar col-md-3">
            <div><a class="btn btn-larage btn-primary" href="/doc/new">New</a></div>
        </div>

    </div>
</div>
{% endblock %}
