{% extends 'template.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>{{ document.title|safe }}</h2>
            <div class="content">{{ document.content|safe }}</div>
        </div>
        <div class="sidebar col-md-3">
            <form action="/edit" method="GET">
                <div><input type="submit" class="btn btn-primary" value="Edit Note"></div>
                <input type="hidden" name="id" value="{{ document.key.id() }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}
